.device-iphone-14-pro {
  --device-black: #76726f;
  --device-black-dark: #6a655f; /* manually darkened by 10% */
  --device-panel: #010101;
}

.device-iphone-14-pro {
  position: relative;
  height: auto;
  width: 100%;
  max-width: 430px;
  min-width: 320px;
}

.device-frame {
  background: var(--device-panel);
  border: 1px solid var(--device-black-dark);
  border-radius: 68px;
  box-shadow:
    inset 0 0 4px 2px rgba(118, 114, 111, 0.55),
    inset 0 0 0 4px var(--device-black);
  height: 100%;
  width: 100%;
  padding: 16px;
}

.device-screen {
  height: 100%;
  width: 100%;
  overflow: hidden;
  background: #151515;
}

.device-screen,
.device-screen > div {
  border-radius: 49px;
}

.device-stripe::after,
.device-stripe::before {
  border: solid rgba(1, 1, 1, 0.25);
  border-width: 0 7px;
  content: '';
  height: 7px;
  left: 0;
  position: absolute;
  width: 100%;
  z-index: 9;
}

.device-stripe::after {
  top: 85px;
}

.device-stripe::before {
  bottom: 85px;
}

.device-btns {
  background: var(--device-black-dark);
  border-radius: 2px;
  height: 32px;
  left: -2px;
  position: absolute;
  top: 115px;
  width: 3px;
}

.device-btns::after,
.device-btns::before {
  background: var(--device-black-dark);
  border-radius: 2px;
  content: '';
  height: 62px;
  left: 0;
  position: absolute;
  width: 3px;
}

.device-btns::after {
  top: 60px;
}

.device-btns::before {
  top: 140px;
}

.device-power {
  background: var(--device-black-dark);
  border-radius: 2px;
  height: 100px;
  right: -2px;
  position: absolute;
  top: 200px;
  width: 3px;
}

.device-home::after,
.device-home::before {
  border: solid rgba(1, 1, 1, 0.25);
  border-width: 6px 0;
  content: '';
  height: 6px;
  position: absolute;
  width: 6px;
  z-index: 9;
}

.device-home::after {
  right: 86px;
  top: 0;
}

.device-home::before {
  bottom: 0;
  left: 86px;
}
