.content {
  --space: theme(spacing.5);
  --space-md: theme(spacing.10);
}

@media screen(md) {
  .content {
    --space: theme(spacing.10);
    --space-md: theme(spacing.20);
  }
}

.content {
  display: grid;
  grid-template-columns:
    [full-start] 1fr
    [content-start]
    min(theme(screens.2xl), 100% - var(--space-md) * 2)
    [content-end]
    1fr [full-end];
}

.content > * {
  grid-column: content;
}

.content > * + * {
  margin-block-start: var(--space);
}

.gallery {
  grid-column: full;
  display: grid;
  grid-template-columns: inherit;
  overflow-x: scroll;
  overscroll-behavior-x: contain;
  scrollbar-width: none;
}

.gallery::-webkit-scrollbar {
  inline-size: 0 !important;
  display: none;
}

.wrapper {
  grid-column: content;
  display: flex;
  align-items: center;
  gap: var(--space);
}

.wrapper::after {
  content: '';
  align-self: stretch;
  padding-inline-end: max(
    var(--space),
    (100vw - theme(screens.2xl)) / 2 - var(--space)
  );
}

.item {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  inline-size: 100%;
  max-inline-size: theme(screens.2xl);
  overflow: hidden;
}
